@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .before\:circle-primary:before, .before\:ellipse-primary:before {
        pointer-events: none;
        display: block;
        width: 10px;
        background-color: transparent;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        content: var(--tw-content);
    }

    .ellipse-primary:before {
        height: 5px;
        content: "ъъъъъ";
        background-image: url("https://terzo.ai/images/decor/ellipse-primary.svg");
    }
}

.animate-in {
    animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}